<h1>Would you like to:</h1>

<button><a href="#" onclick="listenForNewServiceForm(); return false;">Create a New Business Service</a>
</button>
<div id="business-service-form">
</div>
<br>
<br>

<button><a href="#" onclick="getServices(); return false;">Display Business Services</a></button>
</button>
<div id="info">
</div>
<br>
<br>

<button><a href="#" onclick="getSortedServices(); return false;">Display Sorted Business Services</a></button>
</button>

<br>
<br>

<div id="showClient">
<button><a href="/business_services/1/potential_clients">Display Potential Clients</a></button>
</button>
</div>
<br>
<br>

<div id="showInfo"></div>