<h1>Would you like to:</h1>

<a href="#" onclick="newService(); return false;">Create a New Business Service</a>
<br>
<div id="business-service-form"></div>
<br>

<a href="#" onclick="getService(); return false;">Display Business Services</a>
<br>
<div id="info"></div>
<br>

<p>Display Potential Clients</p>






