<h1>Business Services You Offer:</h1>

<ol>
 <% @business_services.each do |service| %>
      <li> Service: <%= service.name %><br>
      Description: <%= service.description %><br>
      <%= link_to "See More", business_service_path(service) %> </li>
      <br>
    <% end %>
</ol>

 <%= link_to 'Log Out', logout_path, method: :delete %><br>


