<h1>Would you like to:</h1>
<a href="#" onclick="getService(); return false;">Display Business Services</a>
<p>Create a new business service</p>
<p>Display Potential Clients</p>

<div id="info">





