<div class="text-center p-3 mb-2 bg-light text-dark">
<h1 class="shadow p-3 mb-5 bg-white rounded">Create a new Business Service:</h1>

<%= flash[:alert] %>

<div class="mx-auto">
<%= render partial: 'form', locals: {object: @business_service} %>
</div>
</div>