<h1>Business Service Name</h1>
<p>Description</p>

Potential Clients:
<ul>

<li>Client #1 Name (@potential_clients.name)<br>
Client #1 More Details => link to potential client page</li> 

<br><br>
<li>Client #2 Name (@potential_clients.name)<br> 
Client #2 More Details => link to potential client page</li> 

</ul>