<h1>Edit a Potential Client:</h1>

 <%= render partial: 'form', locals: {object1: @business_service, object2: @potential_client} %>


    <%# Select A Business Service: %>

    <%#= f.label :business_service_id, "Select a Service" %>   
    <%#= f.collection_select :business_service_id, BusinessService.all, :id, :name %>


    