
 <%# @clients.each do |client| %>
      <li> <%#= link_to "#{client.name}", business_service_potential_client_path(client.id) %> </li>
    <%# end %>

    <p>Client name</p>
    <p>Last Contacted</p>