</p>This is the meeting page</p>

<% @meeting.each do |client| %>
    Name: <%= client.name %><br>
    Last Contacted:<%= client.last_contacted %>
    Reply: <%= client.reply %>
    Follow up: <%= client.follow_up %>
<% end %>
