<div class="text-center p-3 mb-2 bg-light text-dark">

<h1 class="shadow p-3 mb-5 bg-white rounded">Welcome to the B2B Marketing App</h1>
<h4>Would you like to <%= link_to "Sign up", signup_path %> or <%= link_to "Login", login_path %>? </h4>

or

<%= link_to "Sign in Through Facebook", '/auth/facebook' %>

</div>