<h1>Business Services You Offer</h1>

@business_services

<ol>
<% @business_services.each do |service| %>
  <% if @user.id == service.user_id %>
      <li> Service: <%= service.name %><br>
      Description: <%= service.description %><br>
      </li>
      <br>
  <% end %>
<% end %>
</ol>
