<h1>Welcome <%= @user.username %></h1>

<p> Would you to <%= link_to "Create a New Business Service", new_business_service_path %> 
or  
<%= link_to "Create a New Potential Client", new_business_service_potential_client_path(@business_service) %>?
</p>
        


