
<h1>Welcome <%= @user.username %>!</h1>

<p> Would you to: 

<ul>
<li><%= link_to "View Business Services", business_services_path %></li>
<li><%= link_to "Create a New Business Service", new_business_service_path %> </li> 

</ul>
</p>

 <%= link_to 'Log Out', logout_path, method: :delete %>
        
