<h1>Welcome (@user.username)</h1>

<p><b><u>Business Service #1 (@business_services.name) => link to business_sevice page</u></b></h3> 
<p><i>Business Service Desription (@business_services.description)</i></p>

<p>Potential Clients:</p>
<ul>

<li>Client #1 Name (@potential_clients.name)<br>
Client #1 More Details => link to potential client page</li> 

<br><br>
<li>Client #2 Name (@potential_clients.name)<br> 
Client #2 More Details</li> 

</ul>

<br><br>
<p><b><u>Business Service #2 (@business_services.name)</u></b></h3>
<p><i>Business Service Desription (@business_services.description)</i></p>

<p>Potential Clients:</p>
<ul>

<li>Client #1 Name (@potential_clients.name)<br>
Client #1 More Details</li> 

<br><br>
<li>Client #2 Name (@potential_clients.name)<br> 
Client #2 More Details</li> 

</ul>

<%= link_to "Create a New Business Service", new_business_service_path, class: 'button' %>
