<div class="text-center p-3 mb-2 bg-light text-dark">
<h1 class="shadow p-3 mb-5 bg-white rounded">Welcome <%= @user.username %>!</h1>

<h4> Would you to: <h4>
<br/>

<button type="button" class="btn btn-outline-info"><%= link_to "View Business Services", business_services_path %></button>
<button type="button" class="btn btn-outline-info"><%= link_to "View Potential Clients", business_service_potential_clients_path("1")	%> </button>
        
</div>